<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a3x3conect.isthreedelivery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signin"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Signup"
            android:parentActivityName=".Signin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Signin" />
        </activity>
        <activity android:name=".VerifyEmail" />
        <activity android:name=".Dashpage" />
        <activity
            android:name=".Deliverylist"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity
            android:name=".Pickuplist"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity
            android:name=".PickupDetails"
            android:parentActivityName=".Pickuplist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pickuplist" />
        </activity>
        <activity
            android:name=".Deliverydetails"
            android:parentActivityName=".Deliverylist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Deliverylist" />
        </activity>
        <activity
            android:name=".PickupInvoice"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity
            android:name=".SummaryReport"
            android:parentActivityName=".Pickuplist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pickuplist" />
        </activity>
        <activity
            android:name=".GiveDelivery"
            android:parentActivityName=".Deliverylist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Deliverylist" />
        </activity>
        <activity
            android:name=".FillOrder"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity
            android:name=".PickupDeliverylist"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity android:name=".SummaryPickupDelivery" />
        <activity
            android:name=".ExpressOrders"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />
        </activity>
        <activity android:name=".ManagerWalletTransactions"
            android:parentActivityName=".Dashpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashpage" />


        </activity>
    </application>

</manifest>